<!-- page3.html -->
<body class="whole_page_about_Mojang">
    <div class="mojang_main_content">
        
        <h1 class="page_title">Mojang Studios</h1>
        
        <p class="page_text_content">
            Mojang Studios є шведською геймдев-компанією, яка здобула всесвітню відомість завдяки створенню ігри Minecraft. Компанію заснував програміст Markus Persson (відомий як Notch) у 2009 році. Minecraft вийшов у 2011 році і став надзвичайно популярним завдяки своєму унікальному підходу до геймплею.
        </p>

        <p class="page_text_content">
            Mojang Studios випустила також інші ігри, такі як Scrolls і Cobalt, але Minecraft залишається їхнім найуспішнішим та найвпливовішим проектом. У 2014 році Microsoft придбала Mojang за 2,5 мільярди доларів, що спричинило додатковий розвиток та підтримку ігрових проектів компанії.
        </p>

        <p class="page_text_content">
            Незважаючи на придбання Microsoft, Mojang Studios продовжує активно розвивати Minecraft, випускаючи регулярні оновлення та додатки. Команда також працює над новими іграми та творчими проектами, щоб продовжити свою традицію творчості в індустрії відеоігор.
        </p>
    </div>
</body>