<!-- page2.html -->
<body class="whole_page_about_minecraft">
    <div class="main_about_minecraft">
        <h1 class="page_title">Про Minecraft</h1>
        <img src="https://cdn.sanity.io/images/kts928pd/production/3b4f0dca90594a4311ba2d891f6f30ecf6b7dea1-500x333.png" alt="Minecraft_logo" class="img_content">
        <p class = "page_text_content">
        Майнкрафт (Minecraft) - це відома відкрита світова гра, яку розробив шведський програміст Markus Persson і випустила Mojang у 2011 році. 
        Гра отримала величезну популярність завдяки своїй відкритій структурі та можливості будувати, досліджувати та виживати в унікальному світі. 
        Ось короткий огляд гри:
        </p>
    </div>
    
    <div class="about_concept">
        <h2 class = "page_subtitle"><br>Концепція:</h2>
        
        <p class = "page_text_content">
            •Відкритий світ: Minecraft має безмежний відкритий світ, який гравець може вивчати.
            <br>•Блокова графіка: Гра використовує блокову графіку, дозволяючи гравцям будувати та руйнувати різні блоки.
        </p>
    </div>
    
    <div class="about_gameplay">
        <h2 class = "page_subtitle"><br>Геймплей:</h2>
        
        <p class = "page_text_content">
            •Будівництво: Головний акцент на будівництві структур та творчості.
            <br>•Виживання: Гравці повинні забезпечити своє виживання, збираючи ресурси та борючись з мобами.
        </p>
    </div>
    
    <div class="about_worlds">   
        <h2 class = "page_subtitle"><br>Світи:</h2>
        
        <p class = "page_text_content">
            •Оверворлд: Основний світ для будівництва та виживання.
            <br>•Неземний світ (Nether): Інший світ з небезпечними мобами та унікальними ресурсами.
            <br>•Кінцевий світ (End): Світ зі Змією Краю та можливістью здобуття кінцевих перлин.
        </p>    
    </div> 
    
    <div class="about_mobs_animals">  
        <h2 class = "page_subtitle"><br>Моби та Тварини:</h2>
        
        <p class = "page_text_content">
            •Вражіння: Звичайні та небезпечні моби, такі як крипери та скелети.
            <br>•Тварини: Різні тварини, які можна розведувати та використовувати для ресурсів.
        </p>
    </div>
    
    <div class="about_multiplayer">   
        <h2 class = "page_subtitle"><br>Мультиплеєр:</h2>
        
        <p class = "page_text_content">
            <br>•Онлайн гра: Множинний режим дозволяє гравцям грати разом, будувати та співпрацювати.
        </p>
    </div>     
    
    <div class="about_mods_community">     
        <h2 class = "page_subtitle"><br>Моди та Спільнота:</h2>
        
        <p class = "page_text_content">
            •Модифікації (моди): Гравці можуть додавати моди для зміни або розширення геймплею.
            <br>•Спільнота: Minecraft має величезну активну спільноту гравців та творців контенту.
        </p>
    </div>

    <div class="about_updates"> 
        <h2 class = "page_subtitle"><br>Розвиток та Оновлення:</h2>
        
        <p class = "page_text_content">
            •Постійні оновлення: Розробники постійно випускають оновлення, додаючи нові функції та змінюючи гру.
        </p>
    </div>
    
    <div class="concclusion">
        <p class = "page_text_content">
        <br>Minecraft став однією з найбільш успішних та впливових ігор в історії, привертаючи мільйони гравців по всьому світу.
        </p>
    </div>

</body>