<!-- page4.html -->
<body class="whole_page_about_Notch">
    <div class="notch_main_content">
        
        <h1 class="page_title">Markus Persson (Notch)</h1>
        <img src="https://i.wpimg.pl/1280x/i.wp.pl/a/f/jpeg/35622/notch__2_660.jpeg" alt="Notch_photo" class="img_content">
        <p class="page_text_content">
            Markus Persson, відомий під псевдонімом Notch, є шведським програмістом та геймдевелопером, який здобув популярність завдяки створенню гри Minecraft.
        </p>

        <p class="page_text_content">
            Народився 1 червня 1979 року в Стокгольмі, Notch заснував Mojang Studios і розпочав роботу над Minecraft у 2009 році. Гра вийшла в 2011 році та стала глобальним феноменом, завдяки своєму відкритому світові та можливостям креативного будівництва.
        </p>

        <p class="page_text_content">
            Навіть після придбання Mojang компанією Microsoft у 2014 році, Notch продовжує свою творчу роботу та бере участь у різних індустріальних та культурних проектах.
        </p>
    </div>
</body>